.js{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    column-count: 3;
    column-rule-style: dashed;
    column-rule-width:10px;
    column-rule-color:aqua;
    background-image: url(../Downloads/pexels-kamtbic-2152774479-32956257.jpg);

}
.ms{
    column-span: all;
}